In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('used_cars.csv')
df.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"

In [3]:
df.info()
# checking dtype of columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4009 entries, 0 to 4008
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   brand         4009 non-null   object
 1   model         4009 non-null   object
 2   model_year    4009 non-null   int64
 3   milage        4009 non-null   object
 4   fuel_type     3839 non-null   object
 5   engine        4009 non-null   object
 6   transmission  4009 non-null   object
 7   ext_col       4009 non-null   object
 8   int_col       4009 non-null   object
 9   accident      3896 non-null   object
 10  clean_title   3413 non-null   object
 11  price         4009 non-null   object
dtypes: int64(1), object(11)
memory usage: 376.0+ KB

In [4]:
df.isnull().sum()
# i have null values so i need to work on them

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
ext_col           0
int_col           0
accident        113
clean_title     596
price             0
dtype: int64

Before all that stuff, lets simply train this model and see the results

In [5]:
# So i need to encoding because without it, i cant even train simple model

In [6]:
# Here what i did is that my value of price was $10,300 i made it 10300 and also made it integer

df['price']=df['price'].apply(lambda x:x.replace('$','').replace(',', ''))
df['price']=df['price'].astype('int')

In [7]:
# doing what we did with price column, now with mileage

df['milage']=df['milage'].apply(lambda x:x.replace(',', '').replace('mi.',''))
df['milage']=df['milage'].astype('int')

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop(['price'],axis=1),df.price,test_size=0.2,random_state=42)

In [9]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
col=ColumnTransformer(
    transformers=[
        ('OHE',OneHotEncoder(sparse_output=False,dtype='int',drop='first',handle_unknown='ignore'),['brand','model','fuel_type','engine','transmission','ext_col','int_col','accident','clean_title'])
    ],remainder='passthrough'
)
X_train_trf=col.fit_transform(X_train)
X_test_trf=col.transform(X_test)

d:\Coding Stuff\Machine Learning\Projects\Used Car Price Prediction\venv\Lib\site-packages\sklearn\preprocessing\_encoders.py:261: UserWarning: Found unknown categories in columns [0, 1, 3, 4, 5, 6] during transform. These unknown categories will be encoded as all zeros
  warnings.warn(msg, UserWarning)

Applying Linear Regression model

In [10]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train_trf,y_train)
y_pred=lr.predict(X_test_trf)

Checking accuracy

In [11]:
from sklearn.metrics import r2_score
score=r2_score(y_pred,y_test)
print(score)

-9.085685669468639